.form {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.formGroup {
  margin-bottom: 16px;
}

.checkboxGroupContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
}

.fileInput {
  margin-top: 8px;
}

.buttons {
  margin-top: 24px;
}
  